
/*Navbar Section*/
.navbar{
    width: 1512px;
    height: 35px;
    top: -285px;
    left: -401px;
    border:  0px,0px,1px,0px ;
    background-color: #ffffff;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: stretch;
    
    & div{
        width: 100%;
        height: 39px;
        top: -241px;
        left: -367px;
        gap: 5px;
        display: flex;
        font-weight: 500;
    }

    & p{
        width: 200px;
        height: 24px;
        margin-bottom: 20px;
        top:-247px;
        left: 250px;
        color: #000000;
        font-size: 22px;
        font-weight: 500;
        display: flex;
    }

    & .button1{
        width: 100px;
        height: 39px;
        top: -247px;
        left: 690px;
        border-radius: 30px;
        margin-left: 80px;
        font-size: 15px;
        padding: 11px,28px,11px,28px;
        gap: 25px;
        font-weight: 500;
        color: #000000;
        background-color: #f1f1f1;
    }

    &   button{
        width: 130px;
        height: 39px;
        top: -247px;
        left: 819px;
        font-size: 15px;
        border-radius: 30px;
        padding: 11px,28px,11px,28px;
        gap: 20px;
        background-color: #000000;
        color: white;
    }

    & .frame{
        width: 36px;
        height: 36px;
        top: -241px;
        left: 1010px;
    }
}

/*Hello Section*/

.Rectangle{
    width: 1512px;
    height: 760px;
    position: relative;
    object-fit: cover;

     .container{
        width: 1160px;
        height: 344px;
        top: 193px;
        left: 166px;
        right: 166px;
        position: absolute;
        color: black;
        text-align: center;
        background-color: #f1f1f1;
        justify-content: center;

        & h3{
            width: 100%;
            height: 54px;
            top: 237px;
            font-size: 45px;
            text-justify: center;
            font-weight: 500;
        }
         .counter{
            width: 942px;
            height: 50px;
            top: 346px;
            left: 264px;
            right: 100px;
            padding: 10px;
            gap: 10px;
            margin-left: 80px;
            justify-content: center;

            #City{
                width: 222px;
                height: 50px;
                top: 246px;
                left: 364px;
                font-size: 22px;
                font-weight: 500;
                margin-left: 33px;
                border-radius: 6px;
            }

            #Buy-Sell{
                width: 222px;
                height: 50px;
                top: 346px;
                left: 504px;
                font-size: 22px;
                font-weight: 500;
                border-radius: 6px;
            }

            #Pay{
                width: 222px;
                height: 50px;
                top: 346px;
                left: 744px;
                font-size: 22px;
                font-weight: 500;
                border-radius: 6px;
            }

            #Currency{
                width: 222px;
                height: 50px;
                top: 346px;
                left: 984px;
                font-size: 22px;
                font-weight: 500;
                border-radius: 6px;

            }

            .button2{
                width: 680px;
                height: 50px;
                top: 420px;
                left: 264px;
                font-size: 22px;
                border-radius: 10px;
                margin-top: 20px;
                margin-left: 33px;
            }

            .button3{
                width: 222px;
                height: 49px;
                top: 420px;
                left: 984px;
                font-size: 22px;
                font-weight: 700;
                border-radius: 30px;
                padding: 11px,28px,11px,28px;
                gap: 20px;
                background-color: #00ebc7;
                margin-top: 20px;   
            }
        }
    }

    .button4{
        width: 183px;
        height: 49px;
        top: 631px;
        left: 654px;
        position: absolute;
        justify-content: center;
        border-radius: 30px;
        background-color: inherit;
        color: #ffffff;
        font-size: 22px;
        font-weight: 500;
        border: 1px solid #ffffff;
        padding: 11px,20px,11px,20px;
        margin-top: 10px;
    }    
}

/* No Fees section*/

.no-fees{
    width: 1512px; 
    height: 370px;
    background-color: #fde24f;
    border: 1px,0px,1px,0px;
    object-fit: cover;
    position: relative;
    display: flex;

   &  h2{
      text-align: center;
      gap: 5px;
      padding: 10px 30px;
      margin-left: 14cm;
      margin-top: 50px;
      font-weight: 600;  
    }
 
    & img{
       width:  1252px;
       height:  95px;
       top: 169px;
       left: 130px;
       gap: 100px;
       opacity: 0px;
       display: block;
       position:absolute ;
    }
}

/*Feature Section*/

.Feature{
    width: 1512px;
    height: 410px ;
    column-count: calc(3);
    position: relative;
    text-align: justify;
    top: 30px;
    left: 30px;
    right: 200px;
    border: 1px 0px 0px 0px;
     .div1{
        position: relative;
        display: inline-block;      
        width: 100%;
        height: 20px;
    }
    & .security{
        width: 300px;
        height: auto;
        left: 166px;
        text-align: center;
        padding-top: 8px;
       img{
            width: 70px;
            height: 70px;
           padding-top: 5px;
        }
       h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h4{
            text-align: center;
        }
        }
        

    & .friend{
        width: 300px;
        height: auto;
        padding-top: 23px;
        text-align: center;

     .friend img{
          width: 70px;
          height: 70px;
       }
       h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    }

    & .secure{
           width: 300px;
           height: auto;
           text-align: center;
           padding-top: 23px;
      .secure img{
           width: 70px;
           height: 70px;

        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h4{
            text-align: center;
        }
    }     

    .button5{
        width: 227px;
        height: 49px;
        text-align: center;
        position: absolute;
        top: 300px;
        left: 550px;
        font-weight: 500;
        font-size: 22px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding: 11px 28px 11px 28px;
        border-radius: 30px ;
        border: 1.5px 0px 0px 0px;
    }
}

/*Division Section*/

.division{
    width: 1512px;
    height: 550px;
    column-count: calc(2);
     h2{
        margin-left: 30px;
        margin-top: 30px;
        font-size: 34px;
    }

    .division1{
          width: 756px;
          height: 550px;
          color: #000000;
        & .sub_div1, .sub_div2, .sub_div3{
            width: 626px;
            height: 100px;
            font-size: 20px;
            font-weight: 500;
            background-color: white;
            border-radius: 15px;
            border: 1px solid #000000;
            text-align: center;
            margin-left: 30px;

            img{
                float: left;
                padding: 13px;
                margin-left: 10px;
            }
            ul{
            float: left;
            list-style-type: none;
            display: flex;
            justify-content: stretch;
            gap: 70px;
            padding-top: 22px;
            }
        }

        button{
            width: 237px;
            height: 49px;
            background-color: #000000;
            color: #f1f1f1;
            font-weight: 500;
            font-size: 22px;
            margin-left: 220px;
            border-radius: 15px ;
            margin-top: 25px;
       }
    
    }

    .division2{
          width: 756px;
          height: 550px;

          h2{
            margin-left: 30px;
            margin-top: 2px;
            font-size: 34px;
        }
        & .sub_div4, .sub_div5, .sub_div6{
            width: 626px;
            height: 100px;
            font-size: 20px;
            background-color: white;
            font-weight: 500;
            border-radius: 15px;
            border: 1px solid #000000;
            text-align: center;
            
         
        
            img{
                float: left;
                padding: 13px;
                margin-left: 10px;
            }
            ul{
            float: left;
            list-style-type: none;
            display: flex;
            justify-content: stretch;
            gap: 70px;
            padding-top: 22px;
            }
        }

        button{
            width: 237px;
            height: 49px;
            background-color: #000000;
            color: #ffffff;
            font-size: 22px;
            margin-left: 200px;
            border-radius: 15px ;
            margin-top: 24px;
        }    
    }
}

/*Signup section*/

.signup{
    width: 1512px;
    height: 450px;
    background-color: #CFBAFF;
    color: #000000;
    text-align: center;
    padding-top: 60px;
    border: 0px 0px 1px 0px;

    h2{
        width: 1372px;
        height: 182px;
        font-size: 75px;
        padding-left: 50px;
        text-align: center;
    }

    button{
        width: 265px;
        height: 69px;
        top: 470px;
        left: 623.5px;
        padding: 15px 45px 15px 45px;
        border-radius: 30px;
        background-color: #000000;
        color: #ffffff;
        font-size: 32px;
        font-weight: 500;
    }
}

/*footer section*/

.footer{
    width: 1512px;
    height: 605px;
    background-color: #000000;
    color: #ffffff;
    border: 1px;
    
    & .sub_footer{
        column-count: calc(4);
        column-gap: 120px;
        display: flex;
        position: relative;
        object-fit: cover;
        top: 80px;
        left: 135px;       
       ul{
         list-style-type: none;
         gap: 130px;
         font-size: 20px;
         height: 312px;
       }
       img{
        padding-top: 40px;
       }
   }
}

/*Responsive for Mobile*/
@media (max-device-width:767px) {
    
/*Navbar Section*/
.navbar{
    width:767px;
    height: 30px;
    border:  0px,0px,1px,0px ;
    background-color: #ffffff;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    & .button1{
        width: 75px;
        height: 25px;
        border-radius: 30px;
        margin-left: 40px;
        font-size: 11px;
        padding: 5px,14px,5px,14px;
        gap: 10px;
        font-weight: 500;
        color: #000000;
        background-color: #f1f1f1;
    }

    &   button{
        width: 75px;
        height: 25px;
        font-size: 11px;
        border-radius: 30px;
        padding: 5px,14px,5px,14px;
        gap: 5px;
        background-color: #000000;
        color: white;
    }

    & .frame{
        width: 20px;
        height: 20px;

    }
}

/*Hello Section*/

.Rectangle{
    width: 767px;
    height: 460px;
    position: relative;
    object-fit: cover;

     .container{
        width: 567px;
        height: 250px;
        top: 43px;
        left: 32px;
        right: 32px;
        position: absolute;
        color: black;
        text-align: center;
        background-color: #f1f1f1;
        justify-content: center;

        & h3{
            width: 100%;
            height: 30px;
            top: 10px;
            font-size: 22px;
            text-justify: center;
            font-weight: 500;
        }
         .counter{
            width: 460px;
            height: 40px;
            top: 90px;
            left: 10px;
            right: 10px;
            padding: 5px;
            gap: 5px;
            margin-left: 2px;
            justify-content: center;

            #City{
                width: 100px;
                height: 30px;
                top: 90px;
                left: 34px;
                font-size: 15px;
                font-weight: 500;
              
                border-radius: 6px;
            }

            #Buy-Sell{
                width: 100px;
                height: 30px;
                top: 90px;
                left: 164px;
                font-size: 15px;
                font-weight: 500;
                border-radius: 6px;
            }

            #Pay{
                width: 100px;
                height: 30px;
                top: 90px;
                left: 264px;
                font-size: 15px;
                font-weight: 500;
                border-radius: 6px;
            }

            #Currency{
                width: 100px;
                height: 30px;
                top: 90px;
                left: 384px;
                font-size: 15px;
                font-weight: 500;
                border-radius: 6px;

            }

            .button2{
                width: 250px;
                height: 30px;
                top: 1900px;
                left: 24px;
                font-size: 20px;
                border-radius: 10px;
                margin-top:5px;
                margin-left: 3px;
            }

            .button3{
                width: 150px;
                height: 30px;
                top: 190px;
                left: 540px;
                font-size: 15px;
                font-weight: 700;
                border-radius: 30px;
                margin-top: 5PX;
                gap: 5px;
                background-color: #00ebc7;
                   
            }
        }
    }

    .button4{
        width: 120px;
        height: 40px;
        top: 70px;
        left: 200px;
        position: absolute;
        justify-content: center;
        border-radius: 30px;
        background-color: inherit;
        color: #ffffff;
        font-size: 17px;
        font-weight: 500;
        border: 1px solid #ffffff;
        padding: 11px,20px,11px,20px;
        margin-top: 10px;
    }    
}

/* No Fees section*/

.no-fees{
    width: 630px; 
    height: 270px;
    background-color: #fde24f;
    border: 1px,0px,1px,0px;
    object-fit: cover;
    position: relative;
    display: flex;

   &  h2{
      text-align: center;
      gap: 5px;
      padding: 10px 10px;
      margin-left: 1cm;
      margin-top: 20px;
      font-weight: 600;  
    }
 
    & img{
       width:  567px;
       height:  65px;
       top: 140px;
       left: 5px;    
       display: block;
       position:absolute ;
    }
}

/*Feature Section*/

.Feature{
    width: 742px;
    height: 120px ;
    position: relative;
    text-align: justify;
    display: inline;
    top: 10px;
    left: 30px;
    border: 1px 0px 0px 0px;
     .div1{
        position: relative;      
        width: 400px;
   
      
    }
    & .security{
        width: 350px;
        height: 260px;
        left: 166px;
        text-align: center;
        padding-top: 4px;
       img{
            width: 70px;
            height: 70px;
           padding-top: 8px;
        }
       h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h4{
            text-align: center;
        }
        }
        

    & .friend{
        width: 350px;
        height: 260px;
        left: 166px;
        float: left;
        display: inline;
        padding-top: 8px;
        text-align: center;

     .friend img{
          width: 70px;
          height: 70px;
       }
       h3{
        text-align: center;
    }
    p{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    }

    & .secure{
           width: 350px;
           height: 270px;
           left: 166px;
           display: inline;
           text-align: center;
           float: left;
           padding-top: 8px;
      .secure img{
           width: 70px;
           height: 70px;

        }
        h3{
            text-align: center;
        }
        p{
            text-align: center;
        }
        h4{
            text-align: center;
        }
    }     
    
    .button5{
        width: 227px;
        height: 49px;
        text-align: center;
        position: relative;
        top: 0px;
        left: 70px;
        font-weight: 500;
        font-size: 18px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding: 11px 28px 11px 28px;
        border-radius: 30px ;
        border: 1.5px 0px 0px 0px;
    }
}


/*Division Section*/

.division{
    width: 712px;
    height: 1250px;
    display: inline;

     h2{
        margin-left: 20px;
        margin-top: 20px;
        font-size: 24px;
    }

    .division1{
          width: 750px;
          height: 550px;
        & .sub_div1, .sub_div2, .sub_div3{
            width: 626px;
            height: 100px;
            font-size: 20px;
            font-weight: 500;
            background-color: white;
            border-radius: 15px;
            border: 1px solid #000000;
            text-align: center;
            margin-left: 20px;

            img{
                float: left;
                padding: 7px;
                text-align: center;
            }
            ul{
            float: left;
            list-style-type: none;
            display: flex;
            justify-content: stretch;
            gap: 30px;
            padding-top: 18px;
            color: #000000;
            }
        }

        button{
            width: 190px;
            height: 45px;
            background-color: #000000;
            color: #f1f1f1;
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            border-radius: 15px ;
            margin-top: 25px;
       }
    
    }

    .division2{
          width: 750px;
          height: 550px;
          display: inline;

          h2{
            margin-left: 20px;
            margin-top: 20px;
            font-size: 24px;
        }
        & .sub_div4, .sub_div5, .sub_div6{
            width: 626px;
            height: 100px;
            font-size: 20px;
            background-color: white;
            font-weight: 500;
            border-radius: 15px;
            border: 1px solid #000000;
            text-align: center;
            margin-left: 20px;
            
         
        
            img{
                float: left;
                padding: 13px;
                margin-left: 10px;
            }
            ul{
            float: left;
            list-style-type: none;
            display: flex;
            justify-content: stretch;
            gap: 30px;
            color: #000000;
            padding-top: 22px;
            }
        }

        button{
            width: 200px;
            height: 49px;
            background-color: #000000;
            color: #ffffff;
            font-weight: 500;
            font-size: 20px;
            text-align: center;   
            border-radius: 15px ;
            margin-top: 25px;
            margin-bottom: 25px;
        }    
    }
}

/*Signup section*/

.signup{
    width:740px;
    height: 300px;
    background-color: #CFBAFF;
    color: #000000;
    text-align: center;
    padding-top: 30px;
    border: 0px 0px 1px 0px;

    h2{
        width: 740px;
        height: 150px;
        font-size: 35px;
        padding-left: 50px;
        text-align: center;
    }

    button{
        width: 220px;
        height: 49px;
        top: 200px;
        text-align: center;
        border-radius: 30px;
        background-color: #000000;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
    }
}

/*footer section*/

.footer{
    width: 740px;
    height: 645px;
    background-color: #000000;
    color: #ffffff;
    border: 1px;
    
    & .sub_footer{
        column-count: calc(4);
        display: flex;
        position: relative;
        object-fit: cover;
        top: 20px;
        left: 15px;       
        right: 20px;
        gap: 3px;
       ul{
         list-style-type: none;
         font-size: 18px;
         height: 312px;
       }
       img{
        padding-top: 40px;
       }
   }
}   
}